
@{
    ViewBag.Title = "Exclusao";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h4>Exclusao de estoque</h4>

<hr />

<div class="row">
    <div class="col-md-4">
     <strong>@TempData["Mensagem"]</strong>
    </div>
</div>